$dark-grey: #333;
$credit: #008a7d;
$quote: #855a86;
$grey: #666;
$light-grey: #bbb;
$very-light-grey: #eee;

* {
  box-sizing: border-box;
  // margin: 0;
}

html {
  zoom: 0.55;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1 0;
  height: 1510px;
  padding: 1.5rem;
  font-family: 'Courier';
  font-size: 1rem;
}

h2 {
  margin: 0;
  font-size: 0.9rem;
  background-color: $dark-grey;
  color: white;

  &.credit {
    background-color: $credit;
  }

  &.quote {
    background-color: $quote;
  }
}

section {
  margin: 2rem 0;
}

main {
  height: 65%;
}

.image {
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 2px;

  img {
    width: 80px;
    height: 80px;
  }
}

header {
  font-size: 2rem;
  text-align: center;

  .description {
    font-size: 1.2rem;
  }
}

.client {
  margin-top: 0;
  margin-bottom: 10rem;
  font-size: 1.1rem;
  text-align: center;
}

.info {
  font-size: 1.1rem;
  font-weight: bold;

  span {
    margin-right: 0.5rem;
    color: $light-grey;
    font-weight: normal;
  }
}

.items {
  margin: 0.5rem 0;

  .item,
  .headers {
    display: flex;

    > div,
    > p,
    > span {
      display: block;
      margin: 0;
      padding: 0.3rem 0.5rem;
      border-right: 1px solid white;
      box-sizing: border-box;
      text-align: right;

      &:last-child {
        border: none;
      }

      &.description {
        flex: 1 0;
        text-align: left;
      }

      &.quantity {
        width: 6rem;
      }

      &.price {
        width: 9rem;
      }
    }
  }

  .item {
    .description {
      p,
      ul {
        margin: 0;
      }
    }

    &:nth-child(even) {
      background-color: rgba($very-light-grey, 0.5);
    }

    &:nth-child(odd) {
      background-color: $very-light-grey;
    }
  }

  .totals {
    margin-top: 2rem;
    margin-bottom: 4rem;

    > div {
      display: flex;
      justify-content: flex-end;
      margin: 0.5rem;
      text-align: right;

      .price,
      .vat {
        width: 13rem;
        margin-left: 1rem;
      }
    }

    .taxes.zero {
      color: $light-grey;
      font-style: italic;
    }

    .ttc {
      margin-top: 1.2rem;
      font-size: 1.5rem;
    }
  }
}

.payment {
  background-color: $very-light-grey;

  h2 {
    padding: 0.3rem 0.5rem;
    // background-color: $dark-grey;

    // &.credit {
    //   background-color: $credit;
    // }
    // &.quote {
    //   background-color: $quote;
    // }
  }

  > div {
    padding: 0.3rem 0.5rem;
  }

  .bankDetails {
    margin: 0.9rem 0;
    text-align: center;

    span {
      margin-right: 0.5rem;
      color: $light-grey;
    }
  }

  .delay {
    text-align: justify;
  }
}

.provider {
  padding: 0.3rem 0.5rem;
  text-align: center;
  background-color: $dark-grey;
  color: $very-light-grey;

  .name,
  .formation {
    margin-bottom: 1rem;
    white-space: pre;
  }

  &.credit,
  &.quote {
    .label {
      color: rgba(white, 0.3);
    }
  }

  &.credit {
    background-color: $credit;
  }

  &.quote {
    background-color: $quote;
  }

  span {
    margin-right: 0.5rem;
  }

  .label {
    color: $grey;
  }
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  color: $dark-grey;

  > div {
    flex: 1 0;

    &:nth-child(2) {
      text-align: center;
    }

    &:last-child {
      text-align: right;
    }
  }
}
